@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

* {
    font-family: 'Arsenal', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: none;
    color: #3498db;
}


